
@font-face {
  font-family: "Rene Bieder";
  src: url("../fonts/rene-bieder-quadon-medium.otf");
  font-weight: "medium";
}
@font-face {
  font-family: "Rene Bieder";
  src: url("../fonts/rene-bieder-quadon-medium.otf");
  font-weight: "medium";
}
@font-face {
  font-family: "Rene Bieder";
  src: url("../fonts/rene-bieder-quadon-medium.otf");
  font-weight: "medium";
}
@font-face {
  font-family: "Rene Bieder";
  src: url("../fonts/rene-bieder-quadon-medium.otf");
  font-weight: "medium";
}
@font-face {
  font-family: "Rene Bieder";
  src: url("../fonts/rene-bieder-quadon-medium.otf");
  font-weight: "medium";
}
@font-face {
  font-family: "Rene Bieder";
  src: url("../fonts/rene-bieder-quadon-medium.otf");
  font-weight: "medium";
}